<div class="container" id="welcome-page">
    <h1>Welcome to the Geometry Calculator. Sharpen your Mathematical Skills</h1>
    <h2>Choose a figure and your operation to start having hun</h2>

	<!-- Cards representing the figures -->
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  	<mat-card-title>Circle</mat-card-title>
                </mat-card-header>
                <mat-card-content>
					<div class="circle-base circle"></div>
					<br>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
                </mat-card-content>
                <mat-card-actions>
					<button mat-button mat-raised-button color="accent" (click)="setFigureParams('circle','area')">AREA</button>
					<button mat-button mat-raised-button color="warn" (click)="setFigureParams('circle','perimeter')">PERIMETER</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  	<mat-card-title>Square and Rectangle</mat-card-title>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
					<div class="square-base square"></div>
					<br>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
                </mat-card-content>
                <mat-card-actions>
					<button mat-button mat-raised-button color="accent" (click)="setFigureParams('square','area')">AREA</button>
					<button mat-button mat-raised-button color="warn" (click)="setFigureParams('square','perimeter')">PERIMETER</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  	<mat-card-title>Triangle</mat-card-title>
                </mat-card-header>
                <mat-card-content>
					<div class="triagle-base triangle"></div>
					<br>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
                </mat-card-content>
                <mat-card-actions>
					<button mat-button mat-raised-button color="accent" (click)="setFigureParams('triangle','area')">AREA</button>
					<button mat-button mat-raised-button color="warn" (click)="setFigureParams('triangle','perimeter')">PERIMETER</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

	<!-- This section will contain the input fields for values -->
	<div class="container" [ngSwitch]="figure">
		<div *ngSwitchCase="'circle'" class="figure-op-box">
			<div [ngSwitch]="operation">
				<div *ngSwitchCase="'area'">
					<h1>Calculate the Area of a Circle </h1>
					<p>To calculate the area of a circle, we need the radius. The formula is given as</p>
					<div class="row">
						<div class="col-md-5">
							<mat-form-field class="example-full-width" appearance="fill">
									<mat-label>Radius</mat-label> 
									<!-- Giving an input type number means only number can be typed and no text can be entered -->
									<input type="number" size="100" matInput [(ngModel)]="radiusFormValue" [ngModelOptions]="{standalone: true}" placeholder="Enter the radius" value="">
									<mat-hint>{{errorMessage}}</mat-hint>	
							</mat-form-field>

							<mat-form-field appearance="fill">
								<mat-label>Units</mat-label>
								<mat-select required [(ngModel)]="unitSelected">
									<mat-option value="cm">Centimeter</mat-option>
									<mat-option value="dm">Decimeter</mat-option>
									<mat-option value="m">Meter</mat-option>
									<mat-option value="km">Kilometer</mat-option>
								</mat-select>
							</mat-form-field>
							
							<button class="area-button" mat-button mat-raised-button color="primary" (click)="calculateArea('circle')">Calculate</button>
						</div>
						<div class="col-md-5">
							<p>{{areaValueMessage}}</p>
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="fill">
								<mat-label>Convert area</mat-label>
								<mat-select required (selectionChange)="answerUnitsChanged()" [(value)]="selectedAnswerUnit">
									<mat-option value="cm">Centimeter</mat-option>
									<mat-option value="dm">Decimeter</mat-option>
									<mat-option value="m">Meter</mat-option>
									<mat-option value="km">Kilometer</mat-option>
								</mat-select>
								<mat-hint>{{answerErrorMessage}}</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>

				<div *ngSwitchCase="'perimeter'">
					<p>We are in a circle perimeter</p>
				</div>
			</div>
		</div>

		<div *ngSwitchCase="'square'" class="figure-op-box">
			<div [ngSwitch]="operation">
				<div *ngSwitchCase="'area'">
					<p>We are in a square area</p>
				</div>

				<div *ngSwitchCase="'perimeter'">
					<p>We are in a square perimeter</p>
				</div>
			</div>
		</div>

		<div *ngSwitchCase="'triangle'" class="figure-op-box">
			<div [ngSwitch]="operation">
				<div *ngSwitchCase="'area'">
					<p>We are in a triangle area</p>
				</div>

				<div *ngSwitchCase="'perimeter'">
					<p>We are in a triangle perimeter</p>
				</div>
			</div>
		</div>
	</div>

</div>
