<div class="container" id="welcome-page">
    <h1>Welcome to the Geometry Calculator. Sharpen your Mathematical Skills</h1>
    <h3>Choose a figure and your operation to start having hun</h3>

    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  	<mat-card-title>Circle</mat-card-title>
                </mat-card-header>
                <mat-card-content>
					<div class="circle-base circle"></div>
					<br>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
                </mat-card-content>
                <mat-card-actions>
					<button mat-button mat-raised-button color="accent">LIKE</button>
					<button mat-button mat-raised-button color="warn">SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  	<mat-card-title>Square and Rectangle</mat-card-title>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
					<div class="square-base square"></div>
					<br>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
                </mat-card-content>
                <mat-card-actions>
					<button mat-button mat-raised-button color="accent">LIKE</button>
					<button mat-button mat-raised-button color="warn">SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  	<mat-card-title>Triangle</mat-card-title>
                </mat-card-header>
                <mat-card-content>
					<div class="triagle-base triangle"></div>
					<br>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
                </mat-card-content>
                <mat-card-actions>
					<button mat-button mat-raised-button color="accent">LIKE</button>
					<button mat-button mat-raised-button color="warn">SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
