.area-button {
    margin-right: 10px;
    margin-left: 10px;
}
  
#welcome-page {
    padding-top: 50px;
}

#welcome-page h1, h2, h3, h4, h5 {
    text-align: center;
    font-weight: bolder;
}

.circle-base {
    border-radius: 50%;
	margin: auto;
}
  
.circle, .square {
    width: 200px;
    height: 200px;
    background: #4bc475;
    border: 1px solid #000;
	margin: auto;
}

.triangle {
    width: 200px;
    height: 200px;
	margin: auto;
    background: linear-gradient(to bottom left, #fff 0%, #fff 50%, #4bc475 50%, #4bc475 100%);
}

.figure-op-box {
    margin-top: 30px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

mat-hint {
    color: red;
}